.home{
    flex:1;
}
.navbuttons{
    flex:10;
}
.innernav{
    display: flex;
    background-color: aquamarine;
    padding: 10px;
}
a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: cornflowerblue;
    color: white;
}
html{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}